*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Helvetica', 'sans-serif';
}

label {
    display: block;
    margin-bottom: 15px;
}

select {
    width: 150px;
    line-height: 50px;
    height: 50px;
}

#go {
    width: 170px;
    height: 50px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#go > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#output {
    width: 50%;
    margin: 20px auto;
    text-align: justify;
}